<div class="card-body p-0" style="display:block;">

    <table id="operatorTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color: #C9D6DF; color: #1B262C; font-weight: 600;">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">Name</th>
                <th class="text-sm text-center" style="font-weight:500">Edit</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="button" class="addLookupItemButton" data-bs-toggle="modal" data-bs-target="#limOperatorAddModal" style="border: none; background: none;"><img src="~/lib/bootstrap-icons-1.9.1/plus-circle.svg" style="position: absolute; width: 32px; display: block; margin-top: -20px; margin-left: -16px;" /></button>
        </div>
    </div>

    <script>
        $(".addLookupItemButton").on('click', function () {
            $("#lookupItemsModal").modal('hide');
        });
    </script>

</div>