<div class="card-body p-0" style="display:block;">

    <table id="techniqueTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color: #C9D6DF; color: #1B262C; font-weight: 600;">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">Name</th>
                <th class="text-sm text-center" style="font-weight:500">Procedure</th>
                <th class="text-sm text-center" style="font-weight:500">Edit</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="button" class="addLookupItemButton" data-bs-toggle="modal" data-bs-target="#limTechniqueAddModal" style="border: none; background: none;"><img src="~/lib/bootstrap-icons-1.9.1/plus-circle.svg" style="position: absolute; width: 32px; display: block; margin-top: -20px; margin-left: -16px;" /></button>
        </div>
    </div>

</div>

<script>
     $(".addLookupItemButton").on('click', function () {
         $("#lookupItemsModal").modal('hide');
     });

     $("#btnLimAddTechnique").on('click', function () {
        $.ajax({
           type: "GET",
           url: '@Url.Action("GetProcedureForOption", "LookUpItems")',
           success: function (result) {
               rModel = jQuery.parseJSON(result);

               $("#limTechniqueAddModalLookUpItemsProcedure").children().remove();

               $("#limTechniqueAddModalLookUpItemsProcedure").append(
                   $('<option>', {
                       value: "select",
                       text: "Select Procedure",
                       id: "selectProcedure"
                   })
               );
               $("#selectProcedure").attr("hidden", "");

               for (var i = 0; i < rModel.length; i++) {
                   $("#limTechniqueAddModalLookUpItemsProcedure").append(
                       $('<option>', {
                           value: rModel[i].Name,
                           text: rModel[i].Name
                       })
                   );
               }
           },
           error: function (error) {
               alert("error!");
               console.log(error.responseText);
           }
        });
     });
</script>