<div class="card-body p-0" style="display:block;">

    <table id="searchPanelTagTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color:#C9D6DF;color:#1B262C;font-weight:600">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">#</th>
                <th class="text-sm text-center" style="font-weight:500">Plant Ident</th>
                <th class="text-sm text-center" style="font-weight:500">Orig. Ident</th>
                <th class="text-sm text-center" style="font-weight:500">Drawing</th>
                <th class="text-sm text-center" style="font-weight:500">Fitting Type</th>
                <th class="text-sm text-center" style="font-weight:500">Specification</th>
                <th class="text-sm text-center" style="font-weight:500">Inspected</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h6 id="totalSearchPanelTagCount"></h6>
        </div>
    </div>
</div>
