<div class="card-body p-0" style="display:block;">

    <table id="searchPanelLinkTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color:#C9D6DF;color:#1B262C;font-weight:600">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">#</th>
                <th class="text-sm text-center" style="font-weight:500">Tag No</th>
                <th class="text-sm text-center" style="font-weight:500">Belongs Drawing</th>
                <th class="text-sm text-center" style="font-weight:500">Contains Drawing</th>
                <th class="text-sm text-center" style="font-weight:500">Created Date</th>
                <th class="text-sm text-center" style="font-weight:500">Created By</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h6 id="totalSearchPanelLinkCount"></h6>
        </div>
    </div>
</div>
