<div class="card-body" style="display: block;">

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Plant Ident/Tag No</span>
            <input type="text" id="informationTagNo" class="form-control" placeholder="Enter Tag No">
        </div>

        <div class=" col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Original Ident/Serial No</span>
            <input type="text" id="informationSerialNo" class="form-control" placeholder="Enter Serial No">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Component Type</span>
            <select class="form-select" id="informationComponentType">
            </select>
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Specification</span>
            <select class="form-select" id="informationSpecification">
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Fitting Type</span>
            <select class="form-select" id="informationFittingType">
            </select>
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Weld Type</span>
            <select class="form-select" id="informationWeldType">
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Comments</span>
            <textarea id="informationComments" class="form-control" style="min-height: 40px; width: 100%; max-height: 250px" maxlength="1000" rows="2" placeholder="Enter Comment"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Pipe OD (in)</span>
            <input type="text" id="informationPipeOD" class="form-control" placeholder="Enter Pipe OD">
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Pipe Thickness (mm)</span>
            <input type="text" id="informationPipeThickness" class="form-control" placeholder="Enter Pipe Thickness">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Operating Temperature (C)</span>
            <input type="text" id="informationOperatingTemp" class="form-control" placeholder="Enter Operating Temperature">
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Operating Pressute (BAR)</span>
            <input type="text" id="informationOperatingPressute" class="form-control" placeholder="Enter Operating Pressute">
        </div>
    </div>

</div>