<div class="card-body p-0" style="display:block;">

    <table id="valveMaintenanceTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color:#C9D6DF;color:#1B262C;font-weight:600">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">KKS Number</th>
                <th class="text-sm text-center" style="font-weight:500">Serial NO</th>
                <th class="text-sm text-center" style="font-weight:500">Opening Pressure</th>
                <th class="text-sm text-center" style="font-weight:500">Test Date</th>
                <th class="text-sm text-center" style="font-weight:500">Options</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <button type="button" id="addValveMaintenanceDataButton" data-bs-toggle="modal" data-bs-target="#AddValveMaintenanceData" style="border: none; background: none;" onclick="$('#itemModal').modal('toggle');"><img src="~/lib/bootstrap-icons-1.9.1/plus-circle.svg" style="position: absolute; width: 32px; display: block; margin-top: -20px; margin-left: -16px;" /></button>
        </div>
    </div>
</div>
