<div class="card-body" style="display:block;">

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">KKS Number</span>
            <input type="text" id="valveMaintenanceKKSNo" class="form-control" placeholder="Enter KKS Number" style="background-color: #F3F5F7;">
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Serial NO</span>
            <input type="text" id="valveMaintenanceSerialNo" class="form-control" placeholder="Enter Serial NO" style="background-color: #F3F5F7;">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Ideal Barg</span>
            <input type="text" id="valveMaintenanceIdealBarg" class="form-control" placeholder="Enter Ideal Barg" style="background-color: #F3F5F7;">
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Opening Pressure Barg</span>
            <input type="text" id="valveMaintenanceOpeningPressureBarg" class="form-control" placeholder="Enter Opening Pressure Barg" style="background-color: #F3F5F7;">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Plant Area</span>
            <select class="form-select" id="valveMaintenancePlantArea" style="background-color: #F3F5F7;">
            </select>
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Test Date</span>
            <input type="date" id="valveMaintenanceTestDate" class="form-control" style="background-color: #F3F5F7;">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">PSV Supplier Manufacturare</span>
            <input type="text" id="valveMaintenanceSupplierManufacturare" class="form-control" placeholder="Enter Supplier Manufacturare" style="background-color: #F3F5F7;">
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Designation</span>
            <input type="text" id="valveMaintenanceDesignation" class="form-control" placeholder="Enter Designation" style="background-color: #F3F5F7;">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Remarks</span>
            <textarea id="valveMaintenanceRemarks" class="form-control" style="min-height: 40px; width: 100%; max-height: 250px; background-color: #F3F5F7;" maxlength="1000" rows="2" placeholder="Enter Remark"></textarea>
        </div>
    </div>
</div>