<div class="card-body" style="display:block;">

    <div class="row">
        <div class="col-lg-12">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Report No</span>
            <input type="text" id="inspectionReportNo" class="form-control" placeholder="Enter Report No" style="background-color: #F3F5F7;">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Date</span>
            <input type="date" id="inspectionDate" class="form-control" style="background-color: #F3F5F7;">
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Due Date</span>
            <input type="date" id="inspectionDateDue" class="form-control" style="background-color: #F3F5F7;">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Method</span>
            <select class="form-select" id="inspectionMethod" style="background-color: #F3F5F7;">
            </select>
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Procedure</span>
            <select class="form-select" id="inspectionProcedure" style="background-color: #F3F5F7;">
            </select>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Technique</span>
            <select class="form-select" id="inspectionTechnique" style="background-color: #F3F5F7;">
            </select>
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Status</span>
            <select class="form-select" id="inspectionStatus" style="background-color: #F3F5F7;">
            </select>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Details</span>
            <textarea id="inspectionDetails" class="form-control" style="min-height: 40px; width: 100%; max-height: 250px;background-color: #F3F5F7;" maxlength="1000" rows="2" placeholder="Enter Detail"></textarea>
        </div>
    </div>

    <br />

</div>