<div class="card-body" style="display:block;">

    <div class="row">
        <div class="col-lg-4">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Plant Area</span>
            <select class="form-select" id="thicknessMeasurementPlantArea" style="background-color: #F3F5F7;">
            </select>
        </div>

        <div class="col-lg-4">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Plant System</span>
            <select class="form-select" id="thicknessMeasurementPlantSystem" style="background-color: #F3F5F7;">
            </select>
        </div>

        <div class="col-lg-4">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Specification</span>
            <select class="form-select" id="thicknessMeasurementSpecification" style="background-color: #F3F5F7;">
            </select>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Nominal Thickness</span>
            <input type="text" id="thicknessMeasurementNominalThickness" class="form-control" placeholder="Enter Nominal Thickness" style="background-color: #F3F5F7;">
        </div>

        <div class="col-lg-6">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Measured Thickness</span>
            <input type="text" id="thicknessMeasurementMeasuredThickness" class="form-control" placeholder="Enter Measured Thickness" style="background-color: #F3F5F7;">
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-lg-12">
            <span style="color: #8F8F95; font-size: 1em; font-weight:500 ">Description</span>
            <textarea id="thicknessMeasurementDescription" class="form-control" style="min-height: 40px; width: 100%; max-height: 125px;background-color: #F3F5F7;" maxlength="1000" rows="1" placeholder="Enter Description"></textarea>
        </div>
    </div>
</div>