<div class="card-body p-0" style="display:block;">

    <table id="searchPanelInspectionTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color:#C9D6DF;color:#1B262C;font-weight:600">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">#</th>
                <th class="text-sm text-center" style="font-weight:500">Report No</th>
                <th class="text-sm text-center" style="font-weight:500">Drawing</th>
                <th class="text-sm text-center" style="font-weight:500">Plant Ident</th>
                <th class="text-sm text-center" style="font-weight:500">Insp. Date</th>
                <th class="text-sm text-center" style="font-weight:500">Method</th>
                <th class="text-sm text-center" style="font-weight:500">Status</th>
                <th class="text-sm text-center" style="font-weight:500">Details</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h6 id="totalSearchPanelInspectionCount"></h6>
        </div>
    </div>

</div>
