<div class="card-body p-0" style="display:block;">

    <table id="searchPanelValveMaintenanceTable" class="table table-hover text-sm table-responsive-sm table-sm">
        <thead class="no-border" style="background-color:#C9D6DF;color:#1B262C;font-weight:600">
            <tr>
                <th class="text-sm text-center" style="font-weight:500">#</th>
                <th class="text-sm text-center" style="font-weight:500">KKS No</th>
                <th class="text-sm text-center" style="font-weight:500">Serial No</th>
                <th class="text-sm text-center" style="font-weight:500">PSV Supp. Manu.</th>
                <th class="text-sm text-center" style="font-weight:500">Designation</th>
                <th class="text-sm text-center" style="font-weight:500">Remarks</th>
                <th class="text-sm text-center" style="font-weight:500">Test Date</th>
                <th class="text-sm text-center" style="font-weight:500">Plant Area</th>
            </tr>
        </thead>

        <tbody>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h6 id="totalSearchPanelValveMaintenanceCount"></h6>
        </div>
    </div>
</div>
