<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quartz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/datatable-1.12.1.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free-6.1.2-web/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/animate.style.css" rel="stylesheet" />
    <link href="~/lib/multi-select2/select2.css" rel="stylesheet" />
    @* TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTRIAL AREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA *@

    @*<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">*@


    @* TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTRIAL AREAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA *@
</head>
<body>
    <div class="">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark">

            <div class="toast bg-success text-white" id="toastId" role="alert" aria-live="assertive" aria-atomic="true">
                <div id="toastTextContext" class="toast-body" style="height: 45px;">

                </div>
            </div>

            <script>
                var toastOption = {
                    animation: true,
                    delay: 2000
                };

                function toast(toastContext) {
                    var toastId = $("#toastId");
                    var toastElement = new bootstrap.Toast(toastId, toastOption);
                    $("#toastContext").text(toastContext);

                    $("#toastTextContext").append(
                        "<p id='toastContext'><i class='bi bi-check-circle'></i>&nbsp;" + toastContext + "</p>"
                    );

                    toastElement.show();
                    function delay() {
                        $("#toastTextContext").children().remove();
                    }
                    setTimeout(delay, 2300);
                }
            </script>

            <div class="container-fluid my-1">
                <div class="col-lg-2 px-0">
                    <div class="form text-center">
                        @*<label for="type">Choose:</label>*@
                        <select class="form-select-sm" id="type" style="border-radius: 15px; width: 200px;">
                            <option value="None">&#128070; Select</option>
                            <option value="MoveAndModify">Move & Modify</option>
                            <optgroup label="Add Item">
                                <option value="BoxItem">&#10148; Box</option>
                                <option value="PolygonItem">&#10148; Polygon</option>
                            </optgroup>
                            <optgroup label="Add Link">
                                <option value="BoxLink">&#10148; Box</option>
                                <option value="PolygonLink">&#10148; Polygon</option>
                            </optgroup>
                            @*<option value="Delete">Delete</option>*@
                        </select>
                    </div>
                </div>

                <div class="col-lg-8 px-0">
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 justify-content-center">
                            <li class="nav-item mx-5">
                                <button type="button" id="btnDrawingSettings" class="nav-link text-light btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#drawingSettingsModal" style="border: none; border-radius: 20px;"><strong><i class="fas fa-gear" style="margin-right: 3px;"></i>Drawing Settings</strong></button>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item mx-5">
                                    <button type="button" class="nav-link text-light btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#lookupItemsModal" style="border: none; border-radius: 20px;"><strong><i class="fas fa-bars-staggered" style="margin-right: 3px;"></i>Lookup Items</strong></button>
                                </li>
                                <li class="nav-item mx-5">
                                    <button type="button" id="btnUserList" class="nav-link text-light btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#userListModal" style="border: none; border-radius: 20px;"><strong><i class="fas fa-users" style="margin-right: 3px;"></i>User List</strong></button>
                                </li>
                            }
                            <li class="nav-item mx-5">
                                <a asp-action="LogOut" asp-controller="SignInUser" class="nav-link text-light btn btn-outline-danger" style="border: none; border-radius: 20px;"><strong><i class="fa-solid fa-right-from-bracket" style="margin-right: 3px;"></i>Sign Out</strong></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 px-0">
                </div>
            </div>

        </nav>

        <div>
            @RenderBody()
        </div>
    </div>

    <footer class="bg-dark footer py-3 text-light" style="border: none;">
        <p class="mb-0 text-end">&copy; 2022 - Quartz - Görkem &nbsp; &nbsp; &nbsp;</p>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/libman/jQuery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>*@
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/multi-select2/select2.js"></script>
    @*<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>*@


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
