<div style="background-color: #F3F5F7; height: 100%">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                </div>
            </div>
        </div>
        <div id="shapeArea" class="text-center"></div>
    </div>
</div>