<div style="background-color: #F3F5F7; height: 100%; position: relative;">
    <div class="row" style="height: 20px;"></div>
    <div class="accordion">
        <span class="target-fix" id="accordion"></span>

        <!-- 1. Search Drawing Option -->
        <div>
            <span class="target-fix" id="accordion1"></span>
            <a class="accordionStyle" href="#accordion1" id="open-accordion1" title="open">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Drawing</a>
            <a class="accordionStyle" href="#accordion" id="close-accordion1" title="close">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Drawing</a>
            <div class="accordion-content">
                <input id="drawingFilterTagNo" class="form-control searchInput searchPanelItemStyle" type="text" placeholder="Drawing No" style="margin-bottom: 10px;" />

                <input id="drawingFilterDescription" class="form-control searchInput searchPanelItemStyle" type="text" placeholder="Description" style="margin-bottom: 10px;" />

                <select id="drawingFilterPlantArea" class="form-select searchPanelItemStyle" style="margin-bottom: 10px;">
                </select>

                <select id="drawingFilterPlantSystem" class="form-select searchPanelItemStyle" style="margin-bottom: 10px;">
                </select>

                <button class="btn searchPanelSearchButtonStyle" onclick="filterDrawing()" data-bs-toggle="modal" data-bs-target="#searchPanelsModal"><i class="fas fa-search"></i></button>
            </div>
        </div>

        <div class="row" style="height: 10px;"></div>

        <!-- 2. Search Item Option -->
        <div>
            <span class="target-fix" id="accordion2"></span>
            <a class="accordionStyle" href="#accordion2" id="open-accordion2" title="open">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Item</a>
            <a class="accordionStyle" href="#accordion" id="close-accordion2" title="close">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Item</a>
            <div class="accordion-content">
                <input class="form-control searchInput searchPanelItemStyle" id="itemFilterTagNo" type="text" placeholder="Plant Ident/Tag No" style="margin-bottom: 10px;" />

                <select class="form-select searchPanelItemStyle" id="itemFilterFittingType" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="itemFilterWeldType" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="itemFilterPlantArea" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="itemFilterPlantSystem" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="itemFilterIsInspected" style="margin-bottom: 10px;">
                    <option value="2">All Items</option>
                    <option value="1">Inspected Items</option>
                    <option value="0">Not Inspected Items</option>
                </select>

                <button class="btn searchPanelSearchButtonStyle" onclick="filterItem()" data-bs-toggle="modal" data-bs-target="#searchPanelsModal"><i class="fas fa-search"></i></button>
            </div>
        </div>

        <div class="row" style="height: 10px;"></div>

        <!-- 3. Search Inspection Option -->
        <div>
            <span class="target-fix" id="accordion3"></span>
            <a class="accordionStyle" href="#accordion3" id="open-accordion3" title="open">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Inspection</a>
            <a class="accordionStyle" href="#accordion" id="close-accordion3" title="close">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Inspection</a>
            <div class="accordion-content">
                <input class="form-control searchInput searchPanelItemStyle" id="inspectionFilterReportNo" type="text" placeholder="Report No" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="inspectionFilterDetails" type="text" placeholder="Details" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="inspectionFilterDate" type="text" onfocus="(this.type='date')" placeholder="Date From" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="inspectionFilterDueDate" type="text" onfocus="(this.type='date')" placeholder="Date To" style="margin-bottom: 10px;" />

                <select class="form-select searchPanelItemStyle" id="inspectionFilterStatus" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="inspectionFilterTechnique" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="inspectionFilterMethod" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="inspectionFilterProcedure" style="margin-bottom: 10px;">
                </select>

                <button class="btn searchPanelSearchButtonStyle" onclick="filterInspection()" data-bs-toggle="modal" data-bs-target="#searchPanelsModal"><i class="fas fa-search"></i></button>
            </div>
        </div>
        
        <div class="row" style="height: 10px;"></div>

        <!-- 4. Search Valve Maintenance Option -->
        <div>
            <span class="target-fix" id="accordion4"></span>
            <a class="accordionStyle" href="#accordion4" id="open-accordion4" title="open">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Valve Maintenance</a>
            <a class="accordionStyle" href="#accordion" id="close-accordion4" title="close">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Valve Maintenance</a>
            <div class="accordion-content">
                <input class="form-control searchInput searchPanelItemStyle" id="valveMaintenanceFilterKKSNo" type="text" placeholder="KKS No" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="valveMaintenanceFilterSerialNo" type="text" placeholder="Serial No" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="valveMaintenanceFilterSupplierManufacturare" type="text" placeholder="PSV Supplier Manufacturare" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="valveMaintenanceFilterDesignation" type="text" placeholder="Designation" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="valveMaintenanceFilterTestDate" type="text" onfocus="(this.type='date')" placeholder="Test Date" style="margin-bottom: 10px;" />

                <select class="form-select searchPanelItemStyle" id="valveMaintenanceFilterPlantArea" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="valveMaintenanceFilterStatus" style="margin-bottom: 10px;">
                </select>

                <button class="btn searchPanelSearchButtonStyle" onclick="filterValveMaintenance()" data-bs-toggle="modal" data-bs-target="#searchPanelsModal"><i class="fas fa-search"></i></button>
            </div>
        </div>

        <div class="row" style="height: 10px;"></div>

        <!-- 5. Search Thickness Measurement Option -->
        <div>
            <span class="target-fix" id="accordion5"></span>
            <a class="accordionStyle" href="#accordion5" id="open-accordion5" title="open">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Thickness Measurement</a>
            <a class="accordionStyle" href="#accordion" id="close-accordion5" title="close">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-search">&nbsp;&nbsp;</i>Thickness Measurement</a>
            <div class="accordion-content">
                <input class="form-control searchInput searchPanelItemStyle" id="thicknessMeasurementFilterNominalThickness" type="text" placeholder="Nominal Thickness" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="thicknessMeasurementFilterMeasuredThickness" type="text" placeholder="Measured Thickness" style="margin-bottom: 10px;" />

                <input class="form-control searchInput searchPanelItemStyle" id="thicknessMeasurementFilterDescription" type="text" placeholder="Description" style="margin-bottom: 10px;" />

                <select class="form-select searchPanelItemStyle" id="thicknessMeasurementFilterSpecification" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="thicknessMeasurementFilterPlantArea" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="thicknessMeasurementFilterPlantSystem" style="margin-bottom: 10px;">
                </select>

                <select class="form-select searchPanelItemStyle" id="thicknessMeasurementFilterStatus" style="margin-bottom: 10px;">
                </select>

                <button class="btn searchPanelSearchButtonStyle" background: #373A3E;" onclick="filterThicknessMeasurement()" data-bs-toggle="modal" data-bs-target="#searchPanelsModal"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>

    @*<button class="btn" style="background-color: black; color: white; width: 100%; border-radius: 0px;" id="sjgfsg"><strong>test button</strong></button>*@

    <br />

    @{var datetime = DateTime.Now;}

    <br />

    <div class="text-center mx-3 mb-3" style="position: absolute; bottom: 0; left: 0; right: 0;">
        <button class="btn text-white searchPanelClearButtonStyle" id="clearSearchButton"><strong>Clear Search</strong></button>
    </div>
</div>